
/* General Styling */

body {
  font-family: Arial, sans-serif;
  background-color: #ff80c0;
}

.container {
  margin-top: 50px;
  padding: 30px;
  background-color: #deffb7;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

table td {
  padding: 10px;
  border: 1px solid #ddd;
}


.btn {
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn:hover {
  background-color: #0069d9;
}

.btn-primary {
  margin-right: 10px;
}

.btn-danger {
  background-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
}

.form-group {
  margin-top: 30px;
}

/* Navbar Styling */

.navbar {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
}

.nav-link {
  font-weight: bold;
  color: #333;
}

.dropdown-menu {
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  padding: 10px 20px;
  font-weight: bold;
  color: #333;
  transition: background-color 0.2s ease;
}

.dropdown-item:hover {
  background-color: #f2f2f2;
}
